// main: main.less
header {
  &.index {
    height: 734px;
    background-image: url("@{raiz}/imgs/bg_index.jpg");
    background-repeat: none;
    background-size: 100%
  }
  .titulo {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 16px;
    text-transform: uppercase;
  }
  .subtitulo {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 10px;
    text-transform: uppercase;
  }
  #cuadroBuscarProfesor {
    border-radius: 25px;
    margin: 60px auto 60px auto;
    width: 520px;
    height: 330px;
    background-color: rgba(0, 0, 0, 0.25);
    .titulo {
      letter-spacing: normal;
      color: white;
      font-size: 17px;
      font-weight: semibold;
      line-height: 60px;
    }
  }
  &.general {
    min-height: 321px;
    background-image: url("@{raiz}/imgs/bg_internas.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    section {
      border-radius: 30px;
      border: 1px solid #c2ceda;
      background-color: #f3f3f3;
      padding: 30px;
    }
  }
}
