  // main: main.less
  .area-opciones {
    background-color: #FFF;
    padding: 10px;
    width: 100%;
    .reduce-slider {
      background-image: url('@{raiz}/imgs/iconos/ic_menos.svg');
      background-size: 100% 100%;
      background-positi on: left;
      width: 32px;
      height: 32px;
    }
    .slider-general {
      top: 5px;
      left: 15px;
      border-bottom: 2px solid darkgray;
    }
    .aumenta-slider {
      background-image: url('@{raiz}/imgs/iconos/ic_mas.svg');
      background-size: 100% 100%;
      width: 32px;
      height: 32px;
    }
    .ui-slider {
      .ui-slider-handle {
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
      }
    }
    #grado-slider .ui-slider-handle {
      background-image: url('@{raiz}/imgs/iconos/ic_birrete.svg');
    }
    #calificacion-slider .ui-slider-handle {
      background-image: url('@{raiz}/imgs/iconos/ic_calificacion.svg');
    }
    #precio-slider .ui-slider-handle {
      background-image: url('@{raiz}/imgs/iconos/ic_precio.svg');
    }
    #opcion-clases-grupales,
    #opcion-clases-individuales {
      .icono
    }
  }
  
  .individualActivado {
    background-image: url('@{raiz}/imgs/iconos/ic_individual.svg');
  }
  
  .individualDesactivado {
    background-image: url('@{raiz}/imgs/iconos/ic_individual_desactivado.svg');
  }
  
  .grupalActivado {
    background-image: url('@{raiz}/imgs/iconos/ic_grupal.svg');
  }
  
  .grupalDesactivado {
    background-image: url('@{raiz}/imgs/iconos/ic_grupal_desactivado.svg');
  }
  
  .horario-dia-activado {
    background-image: url('@{raiz}/imgs/iconos/ic_dia.svg');
  }
  
  .horario-dia-desactivado {
    background-image: url('@{raiz}/imgs/iconos/ic_dia_desactivado.svg');
  }
  
  .horario-tarde-activado {
    background-image: url('@{raiz}/imgs/iconos/ic_tarde.svg');
  }
  
  .horario-tarde-desactivado {
    background-image: url('@{raiz}/imgs/iconos/ic_tarde_desactivado.svg');
  }
  
  .horario-noche-activado {
    background-image: url('@{raiz}/imgs/iconos/ic_noche.svg');
  }
  
  .horario-noche-desactivado {
    background-image: url('@{raiz}/imgs/iconos/ic_noche_desactivado.svg');
  }
  
  .va-a-domicilio-activado {
    background-image: url('@{raiz}/imgs/iconos/ic_domicilio.svg');
  }
  
  .va-a-domicilio-desactivado {
    background-image: url('@{raiz}/imgs/iconos/ic_domicilio_desactivado.svg');
  }
  
  .foto-resultado-profesor {
    background-image: url('@{raiz}/imgs/no-foto.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  .informacion-profesor-resultado {
    padding: 0px 30px 0px 30px;
  }
  
  .nombre-profesor-resultado {
    font-size: 30px;
    font-weight: lighter;
  }
  
  .descripcion-profesor-resultado {
    font-size: 16px;
    color: #c2c2c2;
  }
  
  .grado-profesor-resultado {
    background-image: url('@{raiz}/imgs/iconos/ic_birrete.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  
  .resultadoProfesor.individualActivado,
  .resultadoProfesor.individualDesactivado,
  .resultadoProfesor.grupalActivado,
  .resultadoProfesor.grupalDesactivado,
  .resultadoProfesor.horarioDiaActivado,
  .resultadoProfesor.horarioDiaDesactivado,
  .resultadoProfesor.horarioTardeActivado,
  .resultadoProfesor.horarioTardeDesactivado,
  .resultadoProfesor.horarioNocheActivado,
  .resultadoProfesor.horarioNocheDesactivado,
  .resultadoProfesor.vaADomicilioActivado,
  .resultadoProfesor.vaADomicilioDesactivado {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  
  .separacion-precio-perfil-profesor-resultado {
    border-left: 2px solid #c2c2c2;
  }
  
  .icono-precio-profesor-resultado {
    background-image: url('@{raiz}/imgs/iconos/ic_precio.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  
  .estrella-negativa-chica,
  .estrella-positiva-chica,
  .estrella-positiva-grande,
  .estrella-negativa-grande {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  
  .estrella-positiva-grande,
  .estrella-negativa-grande {
    width: 32px;
    height: 32px;
  }
  
  .estrella-positiva-chica,
  .estrella-positiva-grande {
    background-image: url('@{raiz}/imgs/iconos/ic_calificacion.svg');
  }
  
  .estrella-negativa-chica,
  .estrella-negativa-grande {
    background-image: url('@{raiz}/imgs/iconos/ic_calificacion_negativa.svg');
  }
  
  #gradoProfesorPerfil {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-size: 100% 100%;
    background-image: url('@{raiz}/imgs/iconos/ic_birrete.svg');
  }
  
  .individualActivado {
    background-image: url('@{raiz}/imgs/iconos/ic_individual.svg');
  }
  
  .individualDesactivado {
    background-image: url('@{raiz}/imgs/iconos/ic_individual_desactivado.svg');
  }
  
  .grupalActivado {
    background-image: url('@{raiz}/imgs/iconos/ic_grupal.svg');
  }
  
  .grupalDesactivado {
    background-image: url('@{raiz}/imgs/iconos/ic_grupal_desactivado.svg');
  }
  
  .horarioDiaActivado {
    background-image: url('@{raiz}/imgs/iconos/ic_dia.svg');
  }
  
  .horarioDiaDesactivado {
    background-image: url('@{raiz}/imgs/iconos/ic_dia_desactivado.svg');
  }
  
  .horarioTardeActivado {
    background-image: url('@{raiz}/imgs/iconos/ic_tarde.svg');
  }
  
  .horarioTardeDesactivado {
    background-image: url('@{raiz}/imgs/iconos/ic_tarde_desactivado.svg');
  }
  
  .horarioNocheActivado {
    background-image: url('@{raiz}/imgs/iconos/ic_noche.svg');
  }
  
  .horarioNocheDesactivado {
    background-image: url('@{raiz}/imgs/iconos/ic_noche_desactivado.svg');
  }
  
  .vaADomicilioActivado {
    background-image: url('@{raiz}/imgs/iconos/ic_domicilio.svg');
  }
  
  .vaADomicilioDesactivado {
    background-image: url('@{raiz}/imgs/iconos/ic_domicilio_desactivado.svg');
  }
  
  .tab-pane {
    border-top: 1px solid #c7c7c7;
  }
  
  .nav-tabs,
  .nav-tabs> li> a,
  .nav-tabs> li[class=active]> a:link,
  .nav-tabs> li[class=active]> a:visited,
  .nav-tabs> li[class=active]> a:hover,
  .nav-tabs> li[class=active]> a:active {
    vertical-align: middle;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    border: none;
    color: #000;
  }
  
  .nav-tabs> li[class=active] {
    background-color: #ffffff;
    border-bottom: none;
  }
  
  .nav-tabs> li {
    text-align: center;
    vertical-align: middle;
    background-color: #f3f3f3;
  }
  
  .nav-tabs> li> a:hover {
    background: none;
  }
  
  .nav-tabs> li {
    height: 60px;
    width: 200px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #c7c7c7;
  }
  
  .contenidoTab {
    padding: 20px;
    font-size: 16px;
    line-height: 26px;
  }
  
  .icono-mas {
    display: inline-block;
    background-image: url('@{raiz}/imgs/iconos/ic_mas.svg');
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    margin: 5px 0px 0px 0px;
  }
  
  .materia_item {
    margin-bottom: 30px;
  }
  
  .materia_item * .nombre {
    text-transform: uppercase;
  }
  
  .eliminarMateria {
    color: white;
    background-color: lightgray;
    cursor: pointer;
    font-weight: bolder;
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 14px;
    text-align: center;
    line-height: 12px;
    border-radius: 2px;
  }
  
  .materia_item * .grado {
    text-transform: capitalize;
  }
