// main: main.less
.error {
  color: red;
  font-size: 10px;
}

.contenedor-interno {
  margin: 0 auto;
  width: 1060px;
}

.separacion-blanca-vertical-derecha {
  border-right: 2px solid #ffffff;
}

.contenido-centrado {
  text-align: center;
}

.contenido-derecha {
  text-align: right;
}

.derecha {
  float: right;
}

.izquierda {
  float: left;
}

main {
  .titulo {
    margin: 60px 0px 60px 0px;
    font-weight: bolder;
    font-size: 32px;
    letter-spacing: 7px;
    text-transform: uppercase;
  }
  .subtitulo {
    font-size: 26px;
    letter-spacing: 6px;
    text-transform: uppercase;
  }
  .texto {
    line-height: 26px;
    font-weight: 300;
    font-size: 16px;
    color: #6c6e71;
  }
}

.icono {
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
  display: inline-block;
}

.sobresaliente-cb {
  border-radius: 30px;
  border: 1px solid #c2ceda;
  background-color: #f3f3f3;
  padding: 30px;
}

a:link.mas-resultados,
a:hover.mas-resultados,
a:visited.mas-resultados,
a:active.mas-resultados {
  text-transform: uppercase;
  color: #e47959;
  font-size: 16px;
}

.fila-con-espacio {
  margin: 20px 0px 20px 0px;
}

section *.titulo {
  border-bottom: 2px solid #dfdfdf;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.titulo-modal-registro,
.titulo-modal-agregar-materia,
.titulo-modal-confirmacionProfesor,
.titulo-modal-sugerir-materia {
  width: 600px;
  height: 73px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 73px;
}

.foto-resultado-profesor,
.foto-perfil,
.ultimos-alumnos * .foto,
.ultimos-profesores * .foto,
.ultimos-comentarios * .foto {
  background-image: url('@{raiz}/imgs/no-foto.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 100px !important;
  height: 100px !important;
}
