  // main: main.less
  input {
    &[type='text'],
    &[type='email'],
    &[type='password'] {
      border: none;
      height: 40px;
      border-radius: 20px;
      width: @ancho-campos-modal;
      font-weight: lighter;
      font-size: 17px;
      padding: 0px 10px 0px 10px;
      margin: 10px 0px 10px 0px;
      &.ajustable {
        width: 100%;
      }
      &.claro {
        background-color: white;
      }
      &.obscuro {
        background-color: @gris-formulario;
      }
    }
    &[type='submit'],
    &[type='button'] {
      background-color: @naranja;
      border: none;
      border-radius: 20px;
      color: white;
      height: 40px;
      width: 350px;
      font-size: 17px;
      margin: 0px 0px 0px 0px;
      text-transform: uppercase;
      &.chico {
        width: 200px;
      }
      &.mini {
        width: 150px;
      }
      &.ajustable {
        width: 100%;
      }
      &.semiajustable {
        width: 85%;
      }
    }
  }
  
  select {
    border: none;
    height: 40px;
    border-radius: 20px;
    width: 100%;
    font-weight: lighter;
    font-size: 17px;
    padding: 0px 10px 0px 10px;
    margin: 10px 0px 10px 0px;
    &.obscuro {
      background-color: @gris-formulario;
    }
  }
  
  #cuadroBuscarProfesor {
    select {
      width: 80%;
    }
  }
  
  textarea {
    &.obscuro {
      border: none;
      height: 140px;
      border-radius: 20px;
      width: 100%;
      font-weight: lighter;
      font-size: 17px;
      padding: 0px 10px 0px 10px;
      margin: 0px 0px 20px 0px;
      background-color: #f4f4f4;
    }
  }
  
  .texto-seccion-contacto-perfil {
    color: #646464;
  }
  
  .nombre-profesor-resultado {
    font-size: 30px;
    font-weight: lighter;
  }
  
  .descripcion-profesor-resultado {
    font-size: 16px;
    color: #c2c2c2;
  }
  
  .informacion-profesor-resultado {
    padding: 0px 30px 0px 30px;
  }
  
  .iconos-profesor-resultado {
    margin: 30px 0px 30px 0px;
  }
  
  .calificacion-estrella {
    background-image: url('@{raiz}/imgs/iconos/ic_calificacion.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  
  .grado-profesor-resultado {
    background-image: url('@{raiz}/imgs/iconos/ic_birrete.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  
  .individual-activado-profesor-resultado,
  .individual-desactivado-profesor-resultado {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  
  .individual-activado-profesor-resultado {
    background-image: url('@{raiz}/imgs/iconos/ic_individual.svg');
  }
  
  .individual-desactivado-profesor-resultado {
    background-image: url('@{raiz}/imgs/iconos/ic_individual_desactivado.svg');
  }
  
  .grupal-activado-profesor-resultado,
  .grupal-desactivado-profesor-resultado {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  
  .grupal-activado-profesor-resultado {
    background-image: url('@{raiz}/imgs/iconos/ic_grupal.svg');
  }
  
  .grupal-desactivado-profesor-resultado {
    background-image: url('@{raiz}/imgs/iconos/ic_grupal_desactivado.svg');
  }
  
  .horario-dia-activado-profesor-resultado,
  .horario-dia-desactivado-profesor-resultado {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  
  .horario-dia-activado-profesor-resultado {
    background-image: url('@{raiz}/imgs/iconos/ic_dia.svg');
  }
  
  .horario-dia-desactivado-profesor-resultado {
    background-image: url('@{raiz}/imgs/iconos/ic_dia_desactivado.svg');
  }
  
  .horario-tarde-activado-profesor-resultado,
  .horario-tarde-desactivado-profesor-resultado {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  
  .horario-tarde-activado-profesor-resultado {
    background-image: url('@{raiz}/imgs/iconos/ic_tarde.svg');
  }
  
  .horario-tarde-desactivado-profesor-resultado {
    background-image: url('@{raiz}/imgs/iconos/ic_tarde_desactivado.svg');
  }
  
  .horario-noche-activado-profesor-resultado,
  .horario-noche-desactivado-profesor-resultado {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  
  .horario-noche-activado-profesor-resultado {
    background-image: url('@{raiz}/imgs/iconos/ic_noche.svg');
  }
  
  .horario-noche-desactivado-profesor-resultado {
    background-image: url('@{raiz}/imgs/iconos/ic_noche_desactivado.svg');
  }
  
  .va-a-domicilio-activado,
  .va-a-domicilio-desactivado {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  
  .va-a-domicilio-activado {
    background-image: url('@{raiz}/imgs/iconos/ic_domicilio.svg');
  }
  
  .va-a-domicilio-desactivado {
    background-image: url('@{raiz}/imgs/iconos/ic_domicilio_desactivado.svg');
  }
  
  .icono-precio-profesor-resultado {
    background-image: url('@{raiz}/imgs/iconos/ic_precio.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  
  .precio-profesor-resultado {
    font-size: 30px;
    font-weight: lighter;
    display: inline-block;
    margin-bottom: 50px;
  }
  
  .separacion-precio-perfil-profesor-resultado {
    border-left: 2px solid #c2c2c2;
  }
