//out: ../estilos.css, compress: false, strictMath: true
@import "variables.less";
body {
    font-family: 'Lato';
    margin: 0 auto;
    width: 100%;
    @import "estilos.less";
    @import "animaciones.less";
    @import "formularios.less";
    @import "cabecera.less";
    @import "navegacion.less";
    @import "modales.less";
    @import "pie.less";
    @import "componentes.less";
    @import "resultados.less";
    @import "profesor.less";
    @import "somos.less";
    @import "MenuSesion.less";
}