// main: main.less
#informacionSesion {
  margin-top: -25px;
  float: right;
  font-size: 12px;
  text-transform: capitalize;
  cursor: default;
}

#zonaNotificacion {
  display: inline-block;
  background-image: url('@{raiz}/imgs/iconos/notificaciones.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 20px;
  margin-bottom: -5px;
  border-left: 2px solid darkgray;
  border-right: 2px solid darkgray;
}

.flecha-muestra,
.flecha-oculta {
  height: 18px;
  width: 18px;
  margin-left: 5px;
  display: inline-block;
  background-position: bottom;
  background-repeat: no-repeat;
}

.flecha-muestra {
  background-image: url('@{raiz}/imgs/iconos/show.svg');
}

.flecha-oculta {
  background-image: url('@{raiz}/imgs/iconos/hide.svg');
}

#zonaInformacionUsuario {
  position: relative;
  display: inline-block;
  /*width: 160px;*/
  padding-right: 10px;
  min-height: 140px;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  transition: background-color 0.5s ease-in;
}

#opcionMiPerfil,
#opcionCerrarSesion {
  display: none;
  /*opacity: 0;*/
  position: absolute;
  width: 100%;
  border-top: 1px solid black;
  line-height: 40px;
  padding-left: 20px;
  float: left;
  transition: display 0.5s ease-in;
  cursor: pointer;
}

#opcionCerrarSesion {
  margin-top: 40px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.zonaInformacionUsuario * a {
  font-size: 12px;
}

#nombreUsuario {
  display: inline-block;
  padding-left: 10px;
  padding-top: 0px;
  line-height: 40px;
}

#fotoUsuario {
  background-color: darkgrey;
  border-radius: 40px;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 10px 0px -10px 10px;
}
