// main: main.less
//Variables
@ancho-campos-modal: 465px;
@ancho-modal: 600px;
@alto-cabecera-modal: 95px;
//Estilos de diálogos modales
#dialogos {
  // Estilo del modal en general
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    // Contenido del modal, que incluye header, body, footer
    .content {
      width: @ancho-modal;
      position: relative;
      margin: auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-animation-name: aparicion-modal;
      -webkit-animation-duration: 0.4s;
      animation-name: aparicion-modal;
      animation-duration: 0.4s;
      border-radius: 25px;
      .header {
        width: @ancho-modal;
        height: @alto-cabecera-modal;
        background-image: url('@{raiz}/imgs/footer_logo.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-color: @azul;
        color: white;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        .closeModal {
          color: darkgray;
          .derecha;
          margin-right: 20px;
          margin-top: 20px;
          font-size: 17px;
          cursor: pointer;
        }
      }
      .body {
        background-color: white;
        width: @ancho-modal;
        margin: none;
        //padding: none;
        padding-left: 20px;
        padding-right: 20px;
        h1,
        h2 {
          display: inline-block;
          text-transform: uppercase;
          font-weight: bold;
        }
        h1 {
          font-size: 17px;
        }
        h2 {
          font-size: 14px;
        }
        .fecha-nacimiento {
          width: @ancho-campos-modal;
          margin: auto;
        }
        .redes-sociales {
          margin: 30px 0px 30px 0px;
          color: white;
          font-size: 14px;
          text-transform: uppercase;
          .boton {
            margin: auto;
            border-radius: 30px;
            width: 213px;
            height: 40px;
            line-height: 40px;
            cursor: pointer;
            &.facebook {
              background-color: #00679d;
            }
            &.google {
              background-color: @naranja;
            }
          }
          .icono {
            margin: 0 10px -3px 0;
            display: inline-block;
            height: 17px;
            background-position: left bottom;
            background-repeat: no-repeat;
            &.facebook {
              width: 25px;
              background-image: url('@{raiz}/imgs/iconos/redes_facebook_blanco.svg');
            }
            &.google {
              width: 35px;
              background-image: url('@{raiz}/imgs/iconos/redes_google_plus_blanco.svg');
            }
          }
        }
        .tipo-registro {
          margin-left: -20px;
          width: @ancho-modal;
          background-color: @gris-formulario;
          height: 65px;
          line-height: 65px;
        }
      }
      .footer {
        width: @ancho-modal;
        height: 70px;
        padding-top: 20px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        background-color: white;
      }
    }
  }
}

.lista-materias-modal {
  padding-left: 40px;
  padding-right: 40px;
}
