// main: main.less
nav {
  height: 95px;
  padding: 22px 0px 22px 22px;
  margin: 0px 0px 70px 0px;
  border-bottom: 2px solid #dfdfdf;
  menu {
    padding: 0;
    margin: 0;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 30px 0px 0px 0px;
      li {
        display: inline;
        padding: 0px 10px 20px 10px;
        font-weight: 700;
        font-size: 17px;
        text-transform: uppercase;
        a {
          color: #6c6e71;
        }
        &.seleccionado {
          border-bottom: 2px solid orange;
        }
      }
    }
  }
}
