// main: main.less
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 100px 0px 0px 0px;
  padding: 45px 0px 0px 0px;
  height: 220px;
  background-color: rgb(2, 27, 57);
  menu {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 30px 0px 0px 0px;
      li {
        display: inline;
        padding: 0px 10px 20px 10px;
        font-weight: 700;
        font-size: 17px;
        text-transform: capitalize;
        a {
          color: #6c6e71;
        }
      }
    }
  }
  #redesSociales {
    position: absolute;
    div {
      display: inline-block;
      width: 32px;
      height: 32px;
    }
    #twitter {
      background: url("@{raiz}/imgs/iconos/redes_twitter_desactivado.svg") no-repeat center;
    }
    #facebook {
      background: url("@{raiz}/imgs/iconos/redes_facebook_desactivado.svg") no-repeat center;
    }
    #linkedin {
      background: url("@{raiz}/imgs/iconos/redes_linkedin_desactivado.svg") no-repeat center;
    }
  }
}
