// main: main.less
.precio {
  background-image: url('@{raiz}/imgs/iconos/ic_precio.svg');
  text-indent: 20px;
  background-size: auto 28px;
}

.perfil {
  &.foto,
  .foto {
    background-image: url('@{raiz}/imgs/no-foto.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  .nombre {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: lighter;
    margin-left: 20px;
    display: inline-block;
  }
  .acerdaDe {
    margin-left: 20px;
    font-size: 16px;
    color: darkgray;
    font-weight: 300;
    font-style: italic;
  }
  .icono-precio {
    background-image: url('@{raiz}/imgs/iconos/ic_precio.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  .contacto,
  section {
    .titulo {
      border-bottom: 2px solid #dfdfdf;
      margin-bottom: 20px;
      padding-bottom: 10px;
      font-family: 'Lato';
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .subtitulo {
      font-size: 17px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .contacto {
    border-radius: 20px;
    background-color: #d1dbe3;
    padding: 30px 50px 20px 50px;
  }
}

.descripcionOpcionProfesor {
  margin-top: 20px;
  background-image: url('@{raiz}/imgs/fondo_linea.png');
  background-repeat: repeat-x;
  background-position: center;
  width: 100%;
  line-height: 32px;
  float: left;
  .texto {
    float: left;
    display: inline-block;
    height: 28px;
    line-height: 32px;
    background-color: #f3f3f3;
    padding-right: 10px;
    background-repeat: no-repeat;
    background-position: left;
    &.grado {
      background-image: url('@{raiz}/imgs/iconos/ic_birrete.svg');
      text-indent: 40px;
      background-size: auto 22px;
    }
    &.clasesIndividuales {
      background-image: url('@{raiz}/imgs/iconos/ic_individual.svg');
      text-indent: 40px;
      background-size: auto 22px;
    }
    &.clasesGrupales {
      background-image: url('@{raiz}/imgs/iconos/ic_grupal.svg');
      text-indent: 40px;
      background-size: auto 22px;
    }
    &.vaADomicilio {
      background-image: url('@{raiz}/imgs/iconos/ic_domicilio.svg');
      text-indent: 40px;
      background-size: auto 22px;
    }
    &.horarioDia {
      background-image: url('@{raiz}/imgs/iconos/ic_dia.svg');
      text-indent: 40px;
      background-size: auto 22px;
    }
    &.horarioTarde {
      background-image: url('@{raiz}/imgs/iconos/ic_tarde.svg');
      text-indent: 40px;
      background-size: auto 22px;
    }
    &.horarioNoche {
      background-image: url('@{raiz}/imgs/iconos/ic_noche.svg');
      text-indent: 40px;
      background-size: auto 22px;
    }
  }
}

.valorOpcionProfesor {
  float: right;
  background-color: #f3f3f3;
  padding-left: 10px;
  width: auto;
}

.individualActivado {
  background-image: url('@{raiz}/imgs/iconos/ic_individual.svg');
}

.individualDesactivado {
  background-image: url('@{raiz}/imgs/iconos/ic_individual_desactivado.svg');
}

.grupalActivado {
  background-image: url('@{raiz}/imgs/iconos/ic_grupal.svg');
}

.grupalDesactivado {
  background-image: url('@{raiz}/imgs/iconos/ic_grupal_desactivado.svg');
}

.separacion-precio-perfil-profesor-resultado {
  border-left: 2px solid #c2c2c2;
}

.separacion-vertical-izquierda {
  border-left: 2px solid #c2c2c2;
}

.separacion-vertical-derecha {
  border-right: 2px solid #c2c2c2;
}

.separacion-blanca-vertical-izquierda {
  border-left: 2px solid #ffffff;
}

.separacion-blanca-vertical-derecha {
  border-right: 2px solid #ffffff;
}

.clasesIndividuales2Desactivadas {
  margin-top: 20px;
  width: 100%;
  height: 32px;
  display: inline-block;
  background-image: url('@{raiz}/imgs/iconos/ic_individual_desactivado.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.clasesGrupales2Desactivadas {
  margin-top: 20px;
  width: 100%;
  height: 32px;
  display: inline-block;
  background-image: url('@{raiz}/imgs/iconos/ic_grupal_desactivado.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.horarioDia2Desactivadas {
  margin-top: 20px;
  width: 100%;
  height: 32px;
  display: inline-block;
  background-image: url('@{raiz}/imgs/iconos/ic_dia_desactivado.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.horarioTarde2Desactivadas {
  margin-top: 20px;
  width: 100%;
  height: 22px;
  display: inline-block;
  background-image: url('@{raiz}/imgs/iconos/ic_tarde_desactivado.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.horarioNoche2Desactivadas {
  margin-top: 20px;
  width: 100%;
  height: 32px;
  display: inline-block;
  background-image: url('@{raiz}/imgs/iconos/ic_noche_desactivado.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.vaADomicilio2Desactivadas {
  margin-top: 20px;
  width: 100%;
  height: 32px;
  display: inline-block;
  background-image: url('@{raiz}/imgs/iconos/ic_domicilio_desactivado.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.precio-profesor-resultado {
  font-size: 30px;
  font-weight: lighter;
  display: inline-block;
  margin-bottom: 50px;
}

.descripcion_biografia,
.respuesta {
  font-size: 16px;
  line-height: 26px;
}

.descripcion_biografia {
  color: #999999;
}

.icono-precio-profesor-resultado {
  background-image: url('@{raiz}/imgs/iconos/ic_precio.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
}

.seccion-contacto-perfil {
  border-radius: 20px;
  background-color: #d1dbe3;
  padding: 30px 50px 20px 50px;
}

.seccion-contacto-perfil {
  .subtitulo {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.email-field,
.phone-field {
  background-repeat: no-repeat;
  background-position: left;
  background-size: 17px;
  background-origin: content-box;
  text-indent: 25px;
}

.email-field {
  background-image: url("@{raiz}/imgs/iconos/mail.svg");
}

.phone-field {
  background-image: url("@{raiz}/imgs/iconos/phone.svg");
}

.twitter-icon-field,
.facebook-icon-field,
.linkedin-icon-field {
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  display: inline-block;
}

.twitter-icon-field {
  background-image: url("@{raiz}/imgs/iconos/redes_twitter_blanco.svg");
}

.facebook-icon-field {
  background-image: url("@{raiz}/imgs/iconos/redes_facebook_blanco.svg");
}

.linkedin-icon-field {
  background-image: url("@{raiz}/imgs/iconos/redes_linkedin_blanco.svg");
}

#cambiar_foto {
  position: absolute;
  bottom: 30px;
  font-weight: bold;
  font-size: 14px;
  left: 50px;
  color: white;
  text-decoration: underline;
}
