// main: main.less
.cantidad-resultados {
  border-bottom: 2px solid #c2c2c2;
  padding-bottom: 30px;
  h1 {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.opcion-paginacion {
  background-color: #c2ceda;
  text-align: center;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  cursor: pointer;
}

.opcion-paginacion-activa {
  cursor: default;
}

.opcion-paginacion-activa {
  background-color: #e47959;
}

.pagina-anterior {
  background-image: url('@{raiz}/imgs/iconos/ic_prev.svg');
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center;
}

.pagina-siguiente {
  background-image: url('@{raiz}/imgs/iconos/ic_next.svg');
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center;
}

#contenidoEnlacesPaginas,
#contenidoEnlacesPaginasAbajo {
  display: inline-block;
  margin: 0;
}
