// main: main.less
.subtitulo-cabecera,
.titulo-formulario,
.titulo-resultados {
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}

.titulo-formulario {
  border-bottom: 2px solid #dfdfdf;
  padding: 0px 0px 12px 0px;
  margin: 0px 0px 26px 0px;
}
